<article class="card {{post_class}}">
  <a class="card--title-link" href="{{url}}">
    <h2 class="card--title">
      {{title}}
    </h2>
  </a>
  <span class="card--meta">
    <time datetime="{{date format="YYYY-MM-DD"}}">
      {{date format="MMM D, YYYY"}}
    </time>
    <span>
      •
    </span>
    {{reading_time}}
  </span>
  <p class="card--excerpt">
    {{excerpt}}
  </p>
  <a href="{{url}}">
    Read more
  </a>
</article>
